
{{#each data}}
  <div style="background-color: white; padding: 20px 0;margin: 30px 0 0;" class="jumbotron">
    <h3 class="display-4"><b>Article Title: {{this.articletitle}}</b></h3>
    <p class="lead"><b>Author Name: </b>{{this.authorname}}</p>
    <hr class="my-4">
    <p><b>Article text:</b><br><br>{{this.atext}}<br></p>
  </div>
{{/each}}
