<footer class="footer">
    <div class="footer-copyright"
      style="text-align: center; background-color: #41424b; padding: 15px 0;margin: 20px 0 0;">
      <span>
        <h5 style="color: aliceblue;">Copyright@2022</h5>
    </div>
  </footer>