<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/article">Articles</a>
  <a href="/admin">Admin</a>
  <a href="/contact">Contact Us</a>
  <a href="/user">User Messages</a>
  <a href="/about">About Us</a>
</div>